.Polaris-Tooltip__Label {
  width: 300px;
  max-height: 400px;
  color: white;
}

.Polaris-Tooltip__Wrapper {
  max-height: 400px !important;
}

.Polaris-Tooltip__Content {
  max-width: 500px !important;
  max-height: 400px !important;
}

.Polaris-Tooltip__Content {
  white-space: pre-line;
}